body {
  background-color: #BCF8EC;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #7B435B;
}

header {
  text-align: center;
}

h1 {
  padding: 30px;
  font-size: 250%;
}

nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

nav li {
  list-style: none;
  padding: 20px;
  font-weight: bolder;
  font-size: 150%;
}

nav li a {
  text-decoration: none;
  color: #7B435B;
}

img {
  min-width: 200px;
  height: auto;
}

article {
  display: flex;
}

.photo {
  max-width: 15%;
  height: auto;
  min-height: 100px;
  min-width: auto;
  border-radius: 100%;
  border: 5px solid #9FA0C3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 20px;
}

h4 {
  text-align: center;
}

div .work-photos {
  height: auto;
  max-width: 25%;
  margin: 3.5%;
  border: 5px solid #9FA0C3;
  flex: 2 1 auto;
  
}

div .work-photos:hover {
  
}

@media screen and (max-width:992px) {
  body {
    
  }

  img {
    
  }
} 

@media screen and (max-width:768px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
} 


@media screen and (max-width:576px) {
  
} 