body {
  background-color: aqua;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

h1 {
  padding: 30px;
  font-size: 250%;
}

nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

nav li {
  list-style: none;
  padding: 20px;
  font-weight: bolder;
  font-size: 150%;
}

nav li a {
  text-decoration: none;
  color: purple;
}

img {
  max-width: 20%;
  height: auto;
}

article {
  display: flex;
}

.photo {
  max-width: 15%;
  height: auto;
  border-radius: 100%;
  border: 5px solid rgb(247, 17, 55);
}

h3 {
  display: flex;
  justify-content: space-around;
}

h3 a {
  display: flex;
  justify-content: space-around;
}

div a img{
  border: 10px solid white;
}

.format-photo {
  border: 5px solid white;
  display: flex;
}

div .work-photos {
  width: 800px;
  height: 500px;
  margin: 3.5%;
  object-fit: cover;
  border: 5px solid rgb(199, 8, 103);
  justify-content: space-evenly;
}

@media screen and (max-width:992px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
} 

@media screen and (max-width:768px) {
  
} 


@media screen and (max-width:576px) {
  
} 