body {
  background-color: #BCF8EC;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #7B435B;
}

header {
  text-align: center;
  padding: 50px;
}

h1 {
  padding: 30px;
  font-size: 250%;
}

nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

nav li {
  list-style: none;
  padding: 20px;
  font-weight: bolder;
  font-size: 150%;
}

nav li a {
  text-decoration: none;
  color: #7B435B;
}

article {
  display: grid;
  place-items: center;
}

.photo {
  height: auto;
  border-radius: 50%;
  max-width: 500px;
  margin: 3.5%;
  border: 5px solid #9FA0C3;
}

h3 {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 100px;
}

h4 {
  text-align: center;
}

.format-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div .work-photos {
  border-radius: 10%;
  height: auto;
  max-width: 350px;
  margin: 3.5%;
  border: 5px solid #9FA0C3;
  flex: 2 1 auto;
}

div .work-photos:hover {
  transform: scale(1.1);
  border-color: #7B435B;
  max-width: 400px;
  height: auto;
}
a[data-project] {
  position: relative;
  padding: 10px;
}

a[data-project]::before {
  position: absolute;
  content: attr(data-project);
  z-index: 5;
  font-size: 30px;
  padding: 5px;
  background-color: #f8f4f6;
  border: 5px solid #ff006e;
  color: #ff006e;
  opacity: .9;
  bottom: 380px;
  
}

.contact-container {
  display: flex;
  flex-flow: row;
  
}

.contact-info {
  padding: 40px;
}

footer {
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width:992px) {
  

} 

@media screen and (max-width:768px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
} 


@media screen and (max-width:576px) {
  
} 